{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block body %}

<div class="contain">

      <div class="spaceimages">
        <div style="width: 300px;" class="motion">
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">Motion Log</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_motion_1}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_motion_2}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_motion_3}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_motion_4}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_motion_5}}</p><br>
        </div>
        <div style="width: 300px;" class="face">
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">Facial Recognition Log</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_face_1}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_face_2}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_face_3}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_face_4}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_face_5}}</p><br>
        </div>
        <div style="width: 300px;" class="emotion">
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">Emotion Log</p><br>
          <!-- <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_motion}}</p> -->
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_emo_1}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_emo_2}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_emo_3}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_emo_4}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_emo_5}}</p><br>
        </div>
        <div style="width: 300px;" class="act">
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">Activity Log</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_act_1}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_act_2}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_act_3}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_act_4}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_act_5}}</p><br>
        </div>
        <div style="width: 300px;" class="fire">
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">Fire Log</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_fire_1}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_fire_2}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_fire_3}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_fire_4}}</p><br>
          <p style="font: size 2vw; color:azure; text-align: center; font-family: Montserrat, sans-serif;">{{str_fire_5}}</p><br>
        </div>
      </div>

</div>

{% endblock %}